body {
    position: relative;
    display: flex;
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

#header {
    width: 100%;
    height: 82px;
    position: fixed;
    z-index: 999;

}

#event_product {
    width: 100%;
    height: 26px;
    background-color: #F9F86C;
    text-align: center;
    font-weight: bold;
}

#header:hover > #event_product {
    background-color: #dfdfdf;
}

#header:hover > #task_bar {
    background-color: #F9F86C;
}

#task_bar {
    width: 100%;
    height: 56px;
    background-color: white;
    position: relative;
}

#logo {
    position: absolute;
    left: 28px;
    bottom: -14px;
}

#task_bar_menu {
    position:absolute;
    left: 316px;
    top: 16px;
}

.menu {
    display: block;
    float: left;
    padding: 0 20px;
}

.menu > a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}


#icon {
    position: absolute;
    right: 12px;
    top: 12px;
}

.bi {
    padding: 4px;
}

#slider {
    width: 100%;
    height: 442px;
    position: absolute;
}

#something{
    position: relative;
}

.slide_face {
    display: none;
    position:absolute;
    top: 82px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(190, 190, 190);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

#container {
    width: 100%;
    height: 628px;
    position: absolute;
    top: 524px;
    align-items: center;
}

.heading {
    position: absolute;
    left: 45%;
}

#Choices {
    width: 100%;
    height: 54px;
    position: absolute;
    left: 31%;
    padding: 2px 0;
}

.choice {
    float: left;
    font-size: 20px;
    padding: 8px 20px;
}

#product_list {
    position: absolute;
    left: 4px;
    top: 107px;
}

.product {
    float: left;
    width: 293px;
    margin: 10px;
}

.product > a > img {
    border-radius: 10px;
}

.product > p {
    padding: 14px 4px 4px;
}

.product > font {
    color: red;
    padding: 4px;
    font-size: 22px;
    font-weight: bold;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border-radius: 16px;
    background-color: #fff;
    color: #000;
    border: 2px solid #fff;
    padding: 0 30px;
    transition: all .2s;
    cursor: pointer;
}

#about-card {
    display: flex;
    margin-top: 24px;
    margin-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #f9f86c;
    border-radius: 50px;
    max-width: 1920px;
    position: absolute;
    top: 617px;

}
#about-card .about-card-content {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 70px 40px 80px 60px;
    
}
#about-card .about-card-heading {
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #231f20;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.15em;
    display: block;
}

#about-card .about-card-img {
    border-radius: 50px;
    overflow: hidden;
    max-width: 720px;

}
#about-card .img-hidden {
    border-style: none;
    vertical-align: right;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}

.about{
    background-color: #f9f86c;
    border-radius: 50px;
    display: flex;
    position: absolute;
    top: 1066px;
    width: 100%;
}
.column1{
    float: left;
    border-radius: 50px;
    overflow: hidden;
    max-width: 700px;
   
}
.column1>img {
    vertical-align: middle;
    max-width: 100%;
}
.column2{
    padding: 28px;
    float: right;
}
.column2 h2{
    font-size: 58px;
    font-weight: 400;
    font-family: Pangea,sans-serif;
    color: #231F20;
}
.column2 p{
    margin: 14px 0;
    font-family: Pangea,sans-serif;
    font-size: 14px;
    font-weight: 400 bold;
    line-height: 1.5;
    color: #231f20;
    text-align: left;
}
.column2 a{
    border-radius: 50px;
    color: #000;
    font: 18px Pangea, sans-serif;
    background: #ffffff;
    padding: 10px 35px;
    text-decoration: blink;
}
 .column2 a:hover{
    background: rgb(192, 190, 190);
}

.tong{
    background-color: white;
    border-radius: 50px;
    display: flex;
    position: absolute;
    top: 1617px;
}

.col1{
    float: left;
    width: 50%;
    
}

#footer {
    background-color: #000;
    color: #fff;
    position: absolute;
    top: 2412px;
  }
  
  .footer__content {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
  }
  
  .discover {
    margin-left: 62px;
    margin-right: 40px;
    white-space: nowrap;
  }
  
  h4 {
    font-size: 14px;
    font-weight: 600;
  }
  
  .discover__list {
    padding: 0;
  }
  
  .discover__item {
    list-style: none;
    margin-top: 24px;
    font-size: 13px;
  }
  
  .service {
    margin-right: 50px;
    white-space: nowrap;
  }
  
  .service__list {
  }
  
  .service__item {
    list-style: none;
    margin-top: 24px;
    font-size: 13px;
  }
  
  .service__list-1 {
    margin-bottom: 40px;
  }
  
  .recuire {
    margin-right: 50px;
    white-space: nowrap;
  }
  
  .recuire__item {
    list-style: none;
    margin-top: 24px;
    font-size: 13px;
  }
  
  .recuire__list-1 {
    margin-bottom: 40px;
  }
  
  .address__item {
    list-style: none;
    width: 160px;
    font-size: 13px;
    margin-bottom: 40px;
    line-height: 2;
  }
  
  .address__list {
    padding: 0;
  }
  
  .discover__item:hover,
  .service__item:hover,
  .recuire__item:hover {
    cursor: pointer;
    color: yellow;
  }
  
  .cool__listen {
    margin-left: 130px;
  }
  
  .cool__description {
    padding: 0;
    margin-bottom: 38px;
  }
  
  .cool__desc {
    list-style: none;
    width: 250px;
    font-size: 13px;
  }
  
  .cool-btn {
    padding: 12px 26px;
    border-radius: 30px;
    background: #2f5acf;
    color: #fff;
    border: none;
  }
  
  .cool-btn:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
  }
  
  .cool__info {
    margin-left: 135px;
    margin-top: 30px;
  }
  
  .cool__info-icon {
    font-size: 30px;
  }
  
  .cool__info-content {
    margin: 0 0 20px;
  }
  
  .cool__info-content a {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
  }
  
  .cool__info-desc {
    margin-top: 3px;
  }
  
  .footer__icon a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer__icon {
    font-size: 30px;
    padding-left: 72px;
    margin-top: 30px;
  }
  
  .footer__icon i {
    padding-left: 60px;
  }
  
  .footer__stite {
    padding-bottom: 30px;
    background-color: #000;
  }
  .footer__stite-line {
    border-top: 1px solid #d9d9d9;
    text-align: center;
    width: 93.6%;
    margin-left: 64px;
  }
  
  .copyright {
    margin-left: 64px;
    font-size: 11px;
    line-height: 14px;
  }
  
  .footer__stite-logo {
    display: flex;
    flex-direction: row-reverse;
    margin-top: -80px;
    margin-right: 58px;
    position: absolute;
    left: 770px;
    bottom: 0;
  }
  
  .img {
    border-radius: 2px;
    font-size: 13px;
  }
  
  .footer__stite-logo-size {
    padding-left: 10px;
  }


#person:checked ~#user-sign {
    display: flex;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

#user-sign {
    width: 100%;
    background: #f6f5f7;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 110%;
	margin: -20px 0 50px;
    display: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 100000;
}

#user-sign>h1 {
	font-weight: bold;
	margin: 0;
}

#user-sign>h2 {
	text-align: center;
}

#user-sign>p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

#user-sing>span {
	font-size: 12px;
}

#user-sing>a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

#user-sing>button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
    display: flex;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

#user-sign.open {
    display: flex;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-150px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}